$theme: (
themeColor: '#335e6f',
primaryDark: '#0b1d26',
accentDark: '#ffffff',
lightGray: '#e8e8e4',
texts: '#333333',
accentOrange: '#fbab18',
accentRed: '#ed1b2f',
accentBlue: '#009de1',
accentAqua: '#00b19d'
);
